%table.table.table-striped
  %tbody
    - movies.each_with_index do |movie, i|
      %tr
        / Those API requests were taking ages. Let's cache the results.
        / Perhaps adding pagination or some background job would improve the performance.
        - cache movie do
          %td= i + 1
          %td
            %img.img-rounded.poster-list{ src: movie.poster }
          %td
            %h4.title
              = link_to movie.title, movie_path(movie)
              %span
                = fa_icon 'star'
                = movie.rating
            %p
              %strong
                =link_to movie.genre.name, movies_genre_path(movie.genre)
              = ' (' + movie.released_at.to_s + ')'
            %p= movie.plot
