.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h1.text-center Movies
    = will_paginate movies, renderer: BootstrapPagination::Rails
    = render 'movies_table', movies: movies
    = will_paginate movies, renderer: BootstrapPagination::Rails
