%h1.title= movie.title
%span.rating
  = fa_icon "star"
  = movie.rating
.row
  .col-md-3
    %img.img-rounded.poster-full{ src: movie.poster }
  .col-md-4
    .jumbotron.description
      = movie.plot
    - if user_signed_in?
      %p= link_to 'Email me details about this movie', send_info_movie_path(movie), class: 'btn btn-sm btn-default'
