.poster-list {
  max-height: 150px;
}

.poster-full {
  max-height: 350px;
}

.description {
  height: 350px;
}

.title {
  display: inline-block;
}

.rating {
  margin-left: 15px;
  font-size: 20px;
}

.fa-star {
  color: #FFD700;
}
